*{
    /* border: 1px solid black; */
}

button.read-btn {
  font-size: 9px;
  padding: 0 2px 0;
  margin: 0 3px 2px;
}

button.read-btn:hover {
  background-color: transparent;
  color: rgb(30, 191, 228);
}

.modal-container {
  width: 350px;
  height: auto;
}

.modal-body {
  display: flex;
  justify-content: space-between;
}

.modal-body .img-card{
    width: 120px;
    height: 158px;
    padding: 2px 6px 8px 8px; 
    
}

.modal-body .img-card img {
  height: 100%;
  width: 100%;
}

div.info {
  width: 200px;
  height: auto;
}

div.info .title {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 1.5px;
  color: rgb(61, 61, 61);
}

div.info .category {
  font-size: 9px;
  font-weight: 400;
  margin-bottom: 1.5px;
  color: rgb(171, 164, 164);
}
div.info .category span.category-color {
  font-weight: 400;
  color: rgb(26, 26, 26);
  margin-bottom: 1.5px;
}

div.info .price {
  font-size: 10px;
  font-weight: bolder;
  margin-bottom: 1.5px;
  padding: 0;
}

/* div.info .bestseller{
    border: none;
    background-color: rgb(233, 136, 0);
    color: white;
    border-radius: 0 0 50px 0;
} */

div.info .bestseller {
  position: relative;
  background-color: #3498db;
  color: white;
  font-size: 8px;
  width: 33%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #db8d34;
  font-weight: 500;
  margin: 3px 0;
}
/*  */

div.info .bestseller::after {
  content: "";
  position: absolute;
  top: 0;
  left: 66px;
  border-style: solid;
  border-width: 0 0 12px 6px;
  border-color: transparent transparent transparent #db8d34;
}

div.info .shop-choice {
  position: relative;
  background-color: #3498db;
  color: white;
  font-size: 8px;
  width: 33%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #000000;
  font-weight: 500;
  margin: 3px 0;
}

div.info .shop-choice span {
  color: #db8d34;
}

div.info .shop-choice::after {
  content: "";
  position: absolute;
  top: 0;
  left: 63.19px;
  border-style: solid;
  border-width: 0 0 12px 6px;
  border-color: transparent transparent transparent #000000;
}

div.info .stock {
  font-size: 7px;
  font-weight: 500;
  color: rgb(1, 116, 77);
  /* margin-bottom: 1.8px; */
  margin: 0;
  padding: 0;
}

div.holder {
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: -5px;
  margin-left: -1.1px;
}

div.info div .toggle-btn {
  padding: 5px 7px;
  font-size: 7px;
  background-color: #dadada;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

div.info div .delete-btn {
  border: 1.2px solid red;
  font-size: 9px;
  background-color: transparent;
  border-radius: 0%;
  width: 60px;
  margin: 5px 0 0 0;
}
div.info div .delete-btn:hover {
  color: white;
  background-color: red;
  font-weight: 600;
}

div.info div .buy-btn {
  border: 1.2px solid black;
  width: 60px;
  font-size: 9px;
  background-color: #dadada;
  border-radius: 0px;
  margin: 5px 6px 0 0;
}
div.info div .buy-btn:hover {
  background-color: #000000;
  color: white;
  font-weight: 600;
}

.close-btn {
  margin: 4px;
  padding: 5px;
  border: none;
}
